<%= form_for comment do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_area :content_coment, placeholder: "write a comment..." %>
        <%= f.hidden_field :micropost_id , value: micropost.id %>
        <%= f.submit %>
    </div>
<% end %>